@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #34485a;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
  border: solid 3px red;
}

.startNowButton {
  width: 167px;
  height: 50px;
  background: #543ee9;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 15px;
}

.owl-stage {
  height: 350px !important;
  display: flex !important;
  align-items: center !important;
  gap: 50px !important;
  transition: 0.5s;
}

.owl-item {
  width: 250px !important;
  height: 300px !important;
  margin: 0 !important;
}

.center {
  scale: 1.2 !important;
}

body {
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
body header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body header .topPartHeader {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #3ad4d8;
}
body header .topPartHeader .gmailAndPhoneInfo {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .topPartHeader .gmailAndPhoneInfo .phone {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  border-right: solid 1px black;
  padding-right: 12px;
}
body header .topPartHeader .gmailAndPhoneInfo .email {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}
body header .topPartHeader .contactPart {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
body header .navbar {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body header .navbar .logo {
  width: 84px;
  height: 58px;
}
body header .navbar .navbarLinks {
  max-width: 861px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}
body header .navbar .navbarLinks .links {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #181818;
  display: inline-block;
  position: relative;
}
body header .navbar .navbarLinks .links::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
body header .navbar .navbarLinks .links:hover::after {
  width: 100%;
  left: 0;
}
body header .navbar .navbarButtons {
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body header .navbar .navbarButtons .buttonsInNavbar {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  transition: 0.6s ease-out;
}
body header .navbar .navbarButtons .buttonsInNavbar:hover {
  cursor: pointer;
  background-color: #671c7c;
}
body header .navbar .navbarButtons .likeButton {
  background-image: url("../images/Header/like.png");
  background-repeat: no-repeat;
  background-size: 55% 50%;
  background-position: center;
}
body header .navbar .navbarButtons .likeButton:hover {
  background-image: url("../images/Header/likeHover.png");
}
body header .navbar .navbarButtons .userButton {
  background-image: url("../images/Header/user.png");
  background-size: 55% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
body header .navbar .navbarButtons .userButton:hover {
  background-image: url("../images/Header/userHover.png");
}
body header .navbar .navbarButtons .searchButton {
  background-image: url("../images/Header/search.png");
  background-size: 55% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
body header .navbar .navbarButtons .searchButton:hover {
  background-image: url("../images/Header/searchHover.png");
}
body header .navbar .navbarButtons .hMenu {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40%;
  background-color: white;
  display: none;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
}
body header .navbar .navbarButtons .hMenu .line {
  width: 35px;
  height: 4px;
  border: none;
  background-color: #671c7c;
  border-radius: 2px;
}
body header .middleHeader {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
}
body header .middleHeader .topMiddleHeader {
  width: 100%;
  display: flex;
}
body header .middleHeader .topMiddleHeader .infoTopMiddleHeader {
  width: 50%;
  height: 550px;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap: 20px;
}
body header .middleHeader .topMiddleHeader .infoTopMiddleHeader .infoTextOfHeader {
  color: #181818;
  font-weight: 700;
  font-size: 46px;
  line-height: 60px;
  text-transform: capitalize;
  width: 400px;
}
body header .middleHeader .topMiddleHeader .infoTopMiddleHeader .subTextOfHeader {
  font-size: 16px;
  line-height: 19px;
  color: #181818;
}
body header .middleHeader .topMiddleHeader .infoTopMiddleHeader .startNowButton {
  width: 167px;
  height: 50px;
  background: #543ee9;
  border-radius: 30px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 15px;
  cursor: pointer;
  transition: 0.6s;
}
body header .middleHeader .topMiddleHeader .infoTopMiddleHeader .startNowButton:hover {
  background-color: white;
  color: #543ee9;
  border: solid 1px #543ee9;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader {
  width: 50%;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .mainPicture {
  width: 453px;
  height: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/MiddleHeader/childrenPicture.png");
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .mainPicture .circleOfPause {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: rgba(84, 62, 233, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .mainPicture .circleOfPause:hover {
  cursor: pointer;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .purpleRectangle {
  position: absolute;
  z-index: -1;
  left: 220px;
  width: 450px;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .lightBlueRectangle {
  width: 400px;
  height: 400px;
  position: absolute;
  z-index: -2;
  left: 0;
  bottom: 170px;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .lightBlueCircle {
  position: absolute;
  z-index: 4;
  bottom: 80px;
  left: 260px;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .purpleCircle {
  position: absolute;
  z-index: -1;
  top: 20px;
  left: 130px;
}
body header .middleHeader .topMiddleHeader .pictureTopMiddleHeader .orangeCircle {
  position: absolute;
  z-index: -3;
  top: 10px;
  right: 90px;
}
body header .middleHeader .bottomMiddleHeader {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
body header .middleHeader .bottomMiddleHeader .switchButtons {
  width: 10px;
  height: 10px;
  border: none;
  background: #42c0c4;
  border-radius: 50%;
}
body header .middleHeader .bottomMiddleHeader .switchButtons:hover {
  background-color: #671c7c;
  cursor: pointer;
}
body main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .info {
  width: 100%;
  display: flex;
}
body main .info .infoPicture {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body main .info .infoPicture .purpleSquare {
  position: absolute;
  top: -50px;
  right: 10px;
  z-index: -1;
}
body main .info .infoPicture .lightBlueSquare {
  position: absolute;
  bottom: -35px;
  left: 67px;
  z-index: -2;
}
body main .info .infoPicture .purpleCircle {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 160px;
}
body main .info .infoPicture .orangeCircle {
  position: absolute;
  z-index: 1;
  bottom: -10px;
  left: 145px;
}
body main .info .infoText {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
body main .info .infoText button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #543ee9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
  transition: 0.6s;
}
body main .info .infoText button:hover {
  background-color: white;
  border: solid 1px #543ee9;
  color: #543ee9;
}
body main .popularCourse {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .popularCourse .textArea {
  width: 100%;
  height: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  color: black;
  gap: 10px;
}
body main .popularCourse .textArea h1 {
  font-weight: 900;
  font-size: 30px;
}
body main .popularCourse .textArea p {
  width: 50%;
  text-align: center;
}
body main .popularCourse .textArea .purpleCircle {
  position: absolute;
  top: 20px;
  right: 200px;
}
body main .popularCourse .cardsInPopularCourse {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse {
  width: 300px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .mainPictureForCard {
  width: 100%;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .likeCircleForCourse {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url("../images/Header/like.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% 60%;
  border: none;
  position: absolute;
  top: 20px;
  right: 30px;
  z-index: 1;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  cursor: pointer;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .dateAndName {
  width: 85%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 6px;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .dateAndName .dot {
  width: 3px;
  height: 3px;
  background-color: #3ad4d8;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .dateAndName .dateCard,
body main .popularCourse .cardsInPopularCourse .cardForCourse .dateAndName .name {
  display: block;
  color: red;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse p,
body main .popularCourse .cardsInPopularCourse .cardForCourse sup {
  display: none;
  color: #3ad4d8;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .nameOfCard {
  width: 85%;
  font-size: 14px;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .buttonAndPrice {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .buttonAndPrice .detailsButton {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background-color: #543ee9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}
body main .popularCourse .cardsInPopularCourse .cardForCourse .buttonAndPrice .detailsButton:hover {
  background-color: white;
  color: #543ee9;
  border: 1px solid #353535;
}
body main .popularCourse .buttonPartForPopularCourse {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body main .popularCourse .buttonPartForPopularCourse .showAllButton {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  background-color: white;
  border: none;
  cursor: pointer;
  transition: 0.6s;
}
body main .popularCourse .buttonPartForPopularCourse .showAllButton:hover {
  border: 1px solid #353535;
  background-color: #543ee9;
  color: white;
}
body main .popularCourse .buttonPartForPopularCourse .purpleCircleInButtonPart {
  position: absolute;
  top: 30px;
  left: 300px;
}
body main .aboutNaila {
  width: 100%;
  height: 400px;
  background-color: #e2eaf8;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .aboutNaila .containerAboutNaila {
  width: 80%;
  height: 346px;
  display: flex;
}
body main .aboutNaila .containerAboutNaila .textForContainerAboutNaila {
  width: 56%;
  height: 346px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
body main .aboutNaila .containerAboutNaila .textForContainerAboutNaila .blueWordAboutNaila {
  color: blue;
}
body main .aboutNaila .containerAboutNaila .textForContainerAboutNaila h1 {
  font-size: 40px;
  font-weight: 900;
}
body main .aboutNaila .containerAboutNaila .textForContainerAboutNaila p {
  width: 98%;
  font-weight: 500;
  overflow-x: hidden;
}
body main .aboutNaila .containerAboutNaila .textForContainerAboutNaila .signInButton {
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #543ee9;
  color: white;
  border: none;
  transition: 0.6s;
  border-radius: 25px;
  cursor: pointer;
}
body main .aboutNaila .containerAboutNaila .textForContainerAboutNaila .signInButton:hover {
  color: #543ee9;
  background-color: white;
  border: 1px solid #353535;
}
body main .onlineLesson {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .onlineLesson .textOnlineLesson {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}
body main .onlineLesson .textOnlineLesson h1 {
  font-size: 30px;
  font-weight: 800;
}
body main .onlineLesson .textOnlineLesson p {
  width: 50%;
  text-align: center;
}
body main .onlineLesson .cardsOnlineLesson {
  width: 100%;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson {
  width: 399px;
  height: 313px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  padding: 10px;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson .number1 {
  color: #fe5538;
  font-size: 30px;
  font-weight: 800;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson2 {
  width: 399px;
  height: 313px;
  background-image: url("../images/OnlineLesson/childWithPen.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson2 p {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson2 h1 {
  color: #52dec1;
  font-size: 30px;
  font-weight: 800;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson3 {
  width: 399px;
  height: 313px;
  background-image: url("../images/OnlineLesson/girlWithBook.png");
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson3 p {
  font-weight: 600;
  font-size: 20px;
  color: white;
}
body main .onlineLesson .cardsOnlineLesson .cardOnlineLesson3 h1 {
  color: #d6a7f9;
  font-size: 30px;
  font-weight: 800;
}
body main .onlineExams {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .onlineExams .textOnlineExams {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main .onlineExams .textOnlineExams h1 {
  font-weight: 800;
  font-size: 30px;
}
body main .onlineExams .textOnlineExams p {
  font-weight: 500;
  width: 60%;
  text-align: center;
}
body main .onlineExams .cardsOnlineExams {
  height: 640px;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 40px;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams {
  width: 399px;
  height: 548px;
  box-shadow: 0px 0px 70px rgba(106, 106, 106, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsTop {
  width: 100%;
  height: 228px;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom {
  width: 100%;
  padding: 10px;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .nameAndExamOnlineExams {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .nameAndExamOnlineExams p {
  color: red;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .nameAndExamOnlineExams .dot {
  width: 4px;
  height: 4px;
  background-color: #3ad4d8;
  border-radius: 50%;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .forHoverText {
  width: 100%;
  height: 185px;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .buttonAndPriceOnlineExams {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .buttonAndPriceOnlineExams .detailsButton {
  width: 140px;
  height: 46px;
  border-radius: 23px;
  border: none;
  background-color: #543ee9;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: 0.6s;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .buttonAndPriceOnlineExams .detailsButton:hover {
  color: #000;
  background-color: white;
}
body main .onlineExams .cardsOnlineExams .cardOnlineExams .cardOnlineExamsBottom .buttonAndPriceOnlineExams p {
  color: #671c7c;
  font-size: 16px;
  font-weight: 800;
}
body main .onlineExams .switchArrowsAndButton .arrows {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
body main .onlineExams .switchArrowsAndButton .arrows .undoButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  background-image: url("../images/OnlineExams/lefttSwitchArrow.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
body main .onlineExams .switchArrowsAndButton .arrows .redoButton {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: none;
  background-color: white;
  background-image: url("../images/OnlineExams/rightSwitchArrow.png");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
body main .onlineExams .switchArrowsAndButton .buttonArea {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .onlineExams .switchArrowsAndButton .buttonArea button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  cursor: pointer;
  transition: 0.6s;
  position: relative;
}
body main .onlineExams .switchArrowsAndButton .buttonArea button::after {
  content: "";
  width: 0px;
  height: 1px;
  position: absolute;
  left: 53px;
  top: 26px;
  background-color: #000;
  transition: 0.5s;
}
body main .onlineExams .switchArrowsAndButton .buttonArea button:hover::after {
  width: 44px;
}
body main .scienceAcademic {
  width: 100%;
  height: 704px;
  background-color: #e2eaf8;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .scienceAcademic .containerScienceAcademic {
  width: 90%;
  height: 500px;
  display: flex;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic {
  width: 55%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
  position: relative;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic .mainPicture {
  width: 461px;
  height: 344px;
  background-image: url("../images/ScienceAcademic/mainPictureScienceAcademic.png");
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic .mainPicture button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: url("../images/MiddleHeader/pause.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(84, 62, 233, 0.8);
  border: none;
  cursor: pointer;
  transition: 0.6s;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic .mainPicture button:hover {
  background-size: 60% 60%;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic .lightBlueRectangle {
  position: absolute;
  top: -40px;
  left: 0px;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic .purpleRectangle {
  position: absolute;
  right: 0px;
  bottom: -30px;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic .purpleCircle {
  position: absolute;
  top: 0;
  left: 100px;
}
body main .scienceAcademic .containerScienceAcademic .pictureScienceAcademic .orangeCircle {
  position: absolute;
  bottom: -60px;
  right: 200px;
}
body main .scienceAcademic .containerScienceAcademic .infoScienceAcademic {
  width: 45%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
body main .scienceAcademic .containerScienceAcademic .infoScienceAcademic h3 {
  color: #543ee9;
  font-size: 16px;
}
body main .scienceAcademic .containerScienceAcademic .infoScienceAcademic h1 {
  font-size: 33px;
  font-weight: 900;
  color: #181818;
}
body main .scienceAcademic .containerScienceAcademic .infoScienceAcademic p {
  font-size: 15px;
}
body main .scienceAcademic .containerScienceAcademic .infoScienceAcademic button {
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 20px;
  background-color: #543ee9;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
  transition: 0.6s;
}
body main .scienceAcademic .containerScienceAcademic .infoScienceAcademic button:hover {
  background-color: white;
  color: black;
}
body main .comments {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .comments .commentsText {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body main .comments .commentsText h1 {
  font-size: 30px;
  font-weight: 1000;
}
body main .comments .commentsCards {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body main .comments .commentsCards .commentsCard {
  width: 315px;
  height: 382px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.25);
  position: relative;
  padding-top: 60px;
  gap: 10px;
  padding: 0 20px;
}
body main .comments .commentsCards .commentsCard:hover button {
  display: flex;
  transition: 0.6s;
}
body main .comments .commentsCards .commentsCard .forPicture {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}
body main .comments .commentsCards .commentsCard .bottom {
  width: 100%;
  height: 232px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .comments .commentsCards .commentsCard .bottom img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
body main .comments .commentsCards .commentsCard .bottom .subject {
  font-weight: 700;
  color: red;
}
body main .comments .commentsCards .commentsCard .bottom .information {
  overflow-x: auto;
}
body main .comments .commentsCards .commentsCard button {
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.25);
  background-image: url("../images/Comments/arrowButton.png");
  background-size: 110% 110%;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  cursor: pointer;
  background-color: #543ee9;
}
body main .graduate {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .graduate .graduateText {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main .graduate .graduateText h1 {
  font-size: 30px;
  font-weight: 900;
  color: black;
}
body main .graduate .graduateText p {
  text-align: center;
  width: 50%;
}
body main .graduate .graduateCards {
  width: 100%;
  height: 550px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
body main .graduate .graduateCards .graduateCard {
  width: 315px;
  height: 454px;
  box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body main .graduate .graduateCards .graduateCard:hover .graduateCardBottom {
  height: 160px;
}
body main .graduate .graduateCards .graduateCard:hover .graduateCardBottom p {
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}
body main .graduate .graduateCards .graduateCard:hover {
  height: 542px;
  transition: 0.2s;
}
body main .graduate .graduateCards .graduateCard .graduateCardTop {
  width: 100%;
  height: 228px;
}
body main .graduate .graduateCards .graduateCard .graduateCardTop img {
  width: 100%;
  height: 100%;
}
body main .graduate .graduateCards .graduateCard .graduateCardBottom {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .graduate .graduateCards .graduateCard .graduateCardBottom h3 {
  font-size: 14px;
  color: red;
  font-weight: 600;
}
body main .graduate .graduateCards .graduateCard .graduateCardBottom p {
  display: none;
}
body main .graduate .graduateCards .graduateCard .forPrice {
  width: 100%;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
body main .graduate .graduateCards .graduateCard .forPrice h2 {
  color: #671c7c;
  font-weight: 800;
}
body main .graduate .buttonArea {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .graduate .buttonArea button {
  width: 150px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  color: black;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s;
}
body main .graduate .buttonArea button:hover {
  background-color: #543ee9;
  color: white;
}
body main .forMath {
  width: 100%;
  display: flex;
  background-color: #e2eaf8;
}
body main .forMath .forText {
  width: 50%;
  height: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding-left: 60px;
}
body main .forMath .forText h1 {
  font-size: 30px;
  font-weight: 1000;
}
body main .forMath .forText p {
  width: 85%;
}
body main .forMath .forPicture {
  width: 50%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .certificate {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body main .certificate .forText {
  width: 100%;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body main .certificate .forText h1 {
  font-size: 30px;
  font-weight: 1000;
}
body main .certificate .forText p {
  width: 50%;
  text-align: center;
}
body main .certificate .carousel {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main .certificate .carousel .gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 10px auto;
  text-align: center;
  position: relative;
}
body main .certificate .carousel .gallery .buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-around;
  top: 50%;
  font-size: 3em;
  font-weight: bold;
}
body main .certificate .carousel .gallery a {
  text-decoration: none;
  color: black;
}
body main .certificate .carousel .gallery a:hover {
  color: #4d4d4d;
}
body main .certificate .carousel .gallery .photos {
  position: relative;
  height: 400px;
  scale: 1.2;
  left: -100px;
  top: 70px;
}
body main .certificate .carousel .gallery .photos .block {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}
body main .certificate .carousel .gallery .photos .block.active {
  opacity: 1;
}
body main .certificate .carousel button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: 0.6s;
}
body main .certificate .carousel button:hover {
  background-color: #671c7c;
  color: white;
}
body main .books {
  width: 100%;
  height: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
body main .books .forText {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main .books .forText h1 {
  font-size: 30px;
  font-weight: 1000;
}
body main .books .forText p {
  width: 50%;
  text-align: center;
}
body main .books .forCarousel {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
}
body main .books .forCarousel .owl-books {
  width: 88%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main .books .forCarousel .owl-books .item img {
  width: 100%;
  height: 100%;
}
body main .books .allButton {
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  border-radius: 20px;
  cursor: pointer;
  transition: 0.6s;
}
body main .books .allButton:hover {
  background-color: #543ee9;
  color: white;
}
body main .news {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
body main .news .newsText {
  width: 100%;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body main .news .newsText h1 {
  font-size: 30px;
  font-weight: 1000;
}
body main .news .newsText p {
  font-weight: 600;
  font-size: 15px;
  width: 45%;
  text-align: center;
}
body main .news .newsCards {
  width: 100%;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body main .news .newsCards .newsCard {
  width: 315px;
  height: 428px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 7px rgba(190, 190, 190, 0.5);
}
body main .news .newsCards .newsCard:hover .button {
  display: block;
}
body main .news .newsCards .newsCard:hover .cardTop {
  padding: 10px;
}
body main .news .newsCards .newsCard .cardTop {
  width: 100%;
  height: 228px;
}
body main .news .newsCards .newsCard .cardTop img {
  width: 100%;
  height: 100%;
}
body main .news .newsCards .newsCard .cardBottom {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}
body main .news .newsCards .newsCard .cardBottom .info {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
}
body main .news .newsCards .newsCard .cardBottom .info h1 {
  font-size: 20px;
}
body main .news .newsCards .newsCard .cardBottom .info p {
  font-size: 15px;
}
body main .news .newsCards .newsCard .cardBottom .timeAndButton {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  position: relative;
}
body main .news .newsCards .newsCard .cardBottom .timeAndButton h2 {
  color: #fe5538;
  font-size: 15px;
  font-weight: 800;
}
body main .news .newsCards .newsCard .cardBottom .timeAndButton h2::after {
  content: "İyun";
  color: black;
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  bottom: 5px;
  left: 20px;
}
body main .news .newsCards .newsCard .cardBottom .timeAndButton .arrowButton {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-image: url("../images/Comments/arrowButton.png");
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105% 105%;
  background-color: #543ee9;
  border: none;
  cursor: pointer;
  display: none;
}
body footer {
  width: 100%;
  height: 400px;
  background-color: #671c7c;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
body footer .footerTop {
  width: 100%;
  display: flex;
}
body footer .footerTop .part1 {
  width: 25%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .footerTop .part2 {
  width: 16%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
}
body footer .footerTop .part2 a {
  color: white;
}
body footer .footerTop .part2 a:hover {
  text-decoration: underline;
}
body footer .footerTop .part3 {
  width: 16%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
}
body footer .footerTop .part3 a {
  color: white;
}
body footer .footerTop .part3 a:hover {
  text-decoration: underline;
}
body footer .footerTop .part4 {
  width: 16%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
}
body footer .footerTop .part4 a {
  color: white;
}
body footer .footerTop .part4 a:hover {
  text-decoration: underline;
}
body footer .footerTop .part5 {
  width: 15%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  gap: 20px;
}
body footer .footerTop .part5 a {
  color: white;
}
body footer .footerTop .part5 a:hover {
  text-decoration: underline;
}
body footer .footerTop .part6 {
  width: 12%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
body footer .footerBottom {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
body footer .footerBottom p {
  color: white;
  font-size: 12px;
}
body footer .footerBottom .lastWord::after {
  content: " JedAi";
  font-weight: 800;
}/*# sourceMappingURL=main.css.map */